@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  
}
.ant-btn-primary{
  background-color: #1677ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
